@import url("./index.css");
@import url("./matematico.css");
@import url("./referencias.css");
@import url("./fisica.css");



:root{
    --fonte: "Roboto Slab", serif;
    --azul: #205595;
    --azul--claro: #83aae4;
    --azul--escuro:#233171;
    --azul--quase--claro: #456f90;
    --preto: #000000;
    --branco: #FFFFFF;
    --amarelo: #f7f012;
    --gradiente: linear-gradient(90deg, #4a90e2, #9013fe);
}

body {
    font-family: var(--fonte);
    background-color: var(--azul--claro);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.texto_negrito {
    font-weight: 600;
}

.texto_cor {
    color: var(--azul--escuro);
}

.texto_italico {
    font-style: italic;
    font-weight: 300;
}